<div class="bg-nav-bar flex flex-col w-[300px] h-[100vh] text-white " id="nav-bar">
    <div class="flex-grow">
        <a href="/dosen/dashboard-dosen" class="flex flex-row gap-[10px] mt-[40px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
            <img src="/public/images/home.png" class="h-[20px]">
            <div>Dashboard</div>
        </a>
        <a href="/dosen/jadwal-dosen" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
            <img src="/public/images/calendar.png" class="h-[20px]">
            <div>Jadwal</div>
        </a>
        <a href="/dosen/input-asisten" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
            <img src="/public/images/selection.png" class="h-[20px]">
            <div>Input Asisten</div>
        </a>
    </div>
    <a href="/logout" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/logout.png" class="h-[20px]">
        <div>Logout</div>
    </a>
</div>