<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Status</title>
        <link rel="stylesheet" href="/public/css/output.css" />
    </head>
    <body class="bg-gradient-to-br from-cyan-100 to-purple-100 h-screen flex items-center justify-center">
        <div class="bg-white flex flex-col items-center w-[600px] h-[300px] font-poppins drop-shadow-xl rounded-xl">
            <div class="mt-[30px] text-[20px]">Silahkan Pilih Status Anda</div>
            <div class="flex gap-[50px] mt-[30px]">
                <a href="/register/data-diri" class="">
                    <button type="submit" value="Aktif" class="bg-gray-100 h-[140px] w-[140px] flex flex-col items-center justify-center rounded-[10px] drop-shadow-lg hover:bg-gray-200" id="mahasiswa_aktif-btn">
                        <img src="/public/images/aktif_icon.png" class="h-[70px]">
                        <p class="text-[15px] mt-[10px]">Mahasiswa Aktif</p>
                    </button>
                </a>
                <a href="/register/data-diri-alumni" class="">
                    <button type="submit" value="Alumni" class="bg-gray-100 h-[140px] w-[140px] flex flex-col items-center justify-center rounded-[10px] drop-shadow-lg hover:bg-gray-200" id="alumni-btn">
                        <img src="/public/images/alumni_icon.png" class="h-[70px]">
                        <p class="text-[15px] mt-[10px]">Alumni</p>
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>