<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Asisten Dosen</title>
    <link rel="stylesheet" href="/public/css/output.css" />
</head>

<body class="bg-gray-200">
    <div class="flex flex-row font-inter">
        <%- include('./NavBar'); %>
            <div class="flex flex-col w-full h-full">
                <%- include('./header'); %>
                    <div class="flex flex-col ml-[50px] mt-[30px] font-poppins">
                        <div class="text-[30px] text-gray-600 font-extrabold mb-[10px]">List Asisten Dosen</div>
                        <div class="flex flex-row gap-[50px]">
                            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 overflow-y-auto h-[530px] gap-[5px]">
                                <div class="overflow-hidden">
                                    <% for(const row of result) { %>
                                        <div
                                            class="flex w-[1180px] h-[100px] mb-[5px] items-center border border-gray-400 bg-white rounded-md">
                                            <div class="flex flex-row flex-grow">
                                                <div
                                                    class="bg-[#F2F2F2] border-l border-t border-b border-gray-400 w-[150px] h-[100px] rounded-l-md flex items-center justify-center">
                                                    <% if (row.alumni===1) { %>
                                                        <img src="/public/images/alumni_icon.png" class="h-[70px]">
                                                        <% } else{ %>
                                                            <img src="/public/images/aktif_icon.png" class="h-[70px]">
                                                            <% } %>

                                                </div>
                                                <div class="flex flex-col justify-center ml-[20px]">
                                                    <div class="text-[20px] text-black font-bold">
                                                        <%= row.nama_calon %>
                                                    </div>
                                                    <div class="text-[10px] text-[#808080]">
                                                        <%= row.email %>
                                                    </div>
                                                    <% if (row.alumni===1) { %>
                                                        <div class="text-[10px] text-[#808080]">Alumni</div>
                                                        <% } else{ %>
                                                            <div class="text-[10px] text-[#808080]">Mahasiswa Aktif
                                                            </div>
                                                            <% } %>
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <button type="button"
                                                    class="bg-green-400 text-[13px] text-white w-[150px] h-[35px] mr-[30px] rounded-full hover:bg-green-500"
                                                    id="assign-btn">ASSIGNED</button>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</body>

</html>