<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>List Asisten Dosen</title>
        <link rel="stylesheet" href="/public/css/output.css" />
    </head>
    <body class="bg-gray-200">
        <div class="flex flex-row font-inter">
            <%- include('./NavBar'); %>
            <div class="flex flex-col w-full h-full">
                <%- include('./header'); %>
                <div class="flex flex-col ml-[50px] mt-[50px] font-poppins">
                    <div class="text-[30px] text-black font-extrabold mb-[10px]">List Asisten Dosen</div>
                    <div class="flex flex-row gap-[50px]">
                        <div class="flex flex-row w-[1180px] h-[100px] items-center border border-gray-400 bg-white rounded-md">
                            <div class="bg-[#F2F2F2] border-l border-t border-b border-gray-400 w-[150px] h-[100px] rounded-l-md">

                            </div>
                            <div class="flex flex-col justify-center ml-[20px]">
                                <div class="text-[20px] text-black">Gunawan Winata</div>
                                <div class="text-[10px] text-[#808080]">6182001012@student.unpar.ac.id</div>
                                <div class="text-[10px] text-[#808080]">Mahasiswa Aktif</div>
                                <div class="text-[10px] text-[#808080]">2 Mata Kuliah</div>
                            </div>
                            <div class="flex flex-col justify-center ml-[550px] ">
                                <div class="text-[10px] text-center  text-[#808080]"></div>
                                <button type="button" class="bg-green-400 text-[13px] text-white w-[150px] h-[35px] rounded-full hover:bg-green-500" id="assign-btn">ASSIGNED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>