<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>List Asisten Dosen</title>
        <link rel="stylesheet" href="/public/css/output.css" />
    </head>
    <body class="bg-gray-200">
        <div class="flex flex-row font-inter">
            <%- include('./NavBar'); %>
            <div class="flex flex-col w-full h-full">
                <%- include('./header'); %>
                <div class="flex flex-col ml-[50px] mt-[50px]">
                    <div class="text-[30px] text-black font-extrabold mb-[10px]">List Asisten Dosen</div>
                </div>
            </div>
        </div>
    </body>
</html>