<div class="bg-gradient-to-br from-cyan-300 to-cyan-600 flex flex-col w-[300px] h-[100vh] text-white" id="nav-bar">
    <a href="" class="flex flex-row gap-[10px] mt-[40px] pl-[15px] pt-[30px] pb-[30px] hover:bg-gradient-to-br from-cyan-500 to-cyan-800">
        <img src="/images/home.png" class="h-[20px]">
        <div>Dashboard</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[30px] pb-[30px] hover:bg-gradient-to-br from-cyan-500 to-cyan-800">
        <img src="/images/selection.png" class="h-[20px]">
        <div>Seleksi Asisten Dosen</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[30px] pb-[30px] hover:bg-gradient-to-br from-cyan-500 to-cyan-800">
        <img src="/images/assignment.png" class="h-[20px]">
        <div>Penugasan</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[30px] pb-[30px] hover:bg-gradient-to-br from-cyan-500 to-cyan-800">
        <img src="/images/user.png" class="h-[20px]">
        <div>List Asisten Dosen</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[30px] pb-[30px] hover:bg-gradient-to-br from-cyan-500 to-cyan-800">
        <img src="/images/calendar.png" class="h-[20px]">
        <div>Jadwal</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[30px] pb-[30px] hover:bg-gradient-to-br from-cyan-500 to-cyan-800">
        <img src="/images/subject.png" class="h-[20px]">
        <div>Tambah Mata Kuliah</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[30px] pb-[30px] hover:bg-gradient-to-br from-cyan-500 to-cyan-800">
        <img src="/images/setting.png" class="h-[20px]">
        <div>Setting</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[30px] pb-[30px] mt-[42px] hover:bg-gradient-to-br from-cyan-500 to-cyan-800">
        <img src="/images/logout.png" class="h-[20px]">
        <div>Logout</div>
    </a>
</div>