<div class="bg-nav-bar flex flex-col w-[300px] h-[100vh] text-white" id="nav-bar">
    <a href="/Dashboard" class="flex flex-row gap-[10px] mt-[40px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/home.png" class="h-[20px]">
        <div>Dashboard</div>
    </a>
    <a href="/Seleksi" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/selection.png" class="h-[20px]">
        <div>Seleksi Asisten Dosen</div>
    </a>
    <a href="/Penugasan" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/assignment.png" class="h-[20px]">
        <div>Penugasan</div>
    </a>
    <a href="/ListAsdos" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/user.png" class="h-[20px]">
        <div>List Asisten Dosen</div>
    </a>
    <a href="/Jadwal" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/calendar.png" class="h-[20px]">
        <div>Jadwal</div>
    </a>
    <a href="/TambahMatkul" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/subject.png" class="h-[20px]">
        <div>Tambah Mata Kuliah</div>
    </a>
    <a href="/Setting" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/setting.png" class="h-[20px]">
        <div>Setting</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] mt-[200px] hover:bg-nav-bar_hover">
        <img src="/public/images/logout.png" class="h-[20px]">
        <div>Logout</div>
    </a>
</div>