<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Penugasan</title>
        <link rel="stylesheet" href="/public/css/output.css" />
    </head>
    <body class="bg-gray-200">
        <div class="flex flex-row font-inter">
            <%- include('./NavBar'); %>
            <div class="flex flex-col w-full h-full">
                <%- include('./header'); %>
                <div class="flex flex-col ml-[50px] mt-[30px] font-poppins">
                    <div class="text-[30px] text-gray-600 font-extrabold mb-[10px]">Penugasan Asisten Dosen</div>
                    <div class="flex flex-row gap-[50px]">
                        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 overflow-y-auto h-[530px] gap-[5px]">
                            <div class="overflow-hidden">
                                <div class="flex w-[1180px] h-[100px] mb-[5px] items-center border border-gray-400 bg-white rounded-md">
                                    <div class="flex-grow">
                                        <div class="flex flex-col justify-center ml-[30px]">
                                            <div class="text-[20px] text-black font-semibold">Rekayasa Perangkat Lunak</div>
                                            <div class="text-[10px] text-[#808080]">AIF231190</div>
                                            <div class="text-[10px] text-[#808080]">Pascal Alfaidan</div>
                                            <div class="text-[10px] text-red-600">4 Asisten Dosen</div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <button type="button" class="bg-red-500 text-[13px] text-white w-[150px] h-[35px] mr-[30px] rounded-full hover:bg-red-600" id="assign-btn">Assign</button>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>