<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Penugasan</title>
        <link rel="stylesheet" href="/public/css/output.css" />
    </head>
    <body class="bg-gray-200">
        <div class="flex flex-row font-inter">
            <%- include('./NavBar'); %>
            <div class="flex flex-col w-full h-full">
                <%- include('./header'); %>
                <div class="flex flex-col ml-[50px] mt-[50px] font-poppins">
                    <div class="text-[30px] text-black font-extrabold mb-[10px]">Penugasan Asisten Dosen</div>
                    <div class="flex flex-row gap-[50px]">
                        <div class="flex flex-row w-[1180px] h-[100px] items-center border border-gray-400 bg-white rounded-md">
                            <div class="bg-[#F2F2F2] border-l border-t border-b border-gray-400 w-[150px] h-[100px] rounded-l-md">

                            </div>
                            <div class="flex flex-col justify-center ml-[20px]">
                                <div class="text-[20px] text-black">Rekayasa Perangkat Lunak</div>
                                <div class="text-[10px] text-[#808080]">AIF231190</div>
                                <div class="text-[10px] text-[#808080]">Pascal Alfaidan</div>
                                <div class="text-[10px] text-red-600">4 Asisten Dosen</div>
                            </div>
                            <button type="button" class="bg-red-500 text-[13px] text-white ml-[550px] w-[150px] h-[35px] rounded-full hover:bg-red-600" id="assign-btn">Assign</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>