<div class="bg-nav-bar flex flex-col w-[300px] h-[100vh] text-white" id="nav-bar">
    <a href="/mahasiswa/dashboard-mahasiswa" class="flex flex-row gap-[10px] mt-[40px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/home.png" class="h-[20px]">
        <div>Dashboard</div>
    </a>
    <a href="/mahasiswa/jadwal-mahasiswa" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/calendar.png" class="h-[20px]">
        <div>Jadwal</div>
    </a>
    <a href="/mahasiswa/setting-mahasiswa" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] hover:bg-nav-bar_hover">
        <img src="/public/images/setting.png" class="h-[20px]">
        <div>Setting</div>
    </a>
    <a href="" class="flex flex-row gap-[10px] pl-[15px] pt-[20px] pb-[20px] mt-[445px] hover:bg-nav-bar_hover">
        <img src="/public/images/logout.png" class="h-[20px]">
        <div>Logout</div>
    </a>
</div>